@font-face{
    font-family: 'gera';
    src: url(../fuentes/Dogmeal.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    
}
body{
      background:url(../imagenes/wallpapersito.png);
}
#dentalclinic{
    color: white;
}
#barra{
   background-color:deepskyblue;
   
}
#formulario{
    background-color: white;
}
#boton{
    margin-top: 20px;
    background-color: greenyellow;
    color: black;  
    
    border-color: greenyellow;
}
#cititulo{
    color: cornflowerblue;
    font-family: 'gera';
    font-size: 30px;
}
